@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body {
    font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
}

.h-screen-app {
    height: 91.4vh;
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
  }

.promptItem:hover {
    background-color: theme(colors.default-100);
}